{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block body %}

<br><br><br>

<div class="container">
  <form method="POST" action="/post/" enctype="multipart/form-data" style="margin-bottom:10px;">
    <div class="formcontainer"><textarea class="input-block-level lastinput" id="textbox" type="text" name="wallpost" maxlength="1000" placeholder="Post anonymously to everyone" required></textarea></div>
    <div class="buttonbox"><p style="margin:0;text-align:right;"><button class="btn btn-default" id="orangebutton" name="submit" type="submit">Post</button></p></div>
  </form>
  {% for w in wallposts %}
    <p class="textal">{{w.date}}</p>
    <div class="box">
      <div class="boxpost">
        <p class="whitetext">{{w.wallpost}}</p>
      </div>
      <div class="boxbuttons">
        <div style="float:right;">
          <center><p style="margin:0;"><img src="/static/images/up.png"></p>
          <p style="margin:0;color:#d4d4d4;">55</p>
          <p style="margin:0;"><img src="/static/images/down.png"></p></center>
        </div>
      </div>
    </div>
    <div class="comments">
      <div class="commentident" style="display:inline-block;vertical-align:top;margin-top:5px;">
        <p style="color:#d4d4d4;margin-right:15px;"><img src="/static/images/comment.png"></p>
      </div>
      <div class="commentpoop" style="display:inline-block;">
        <p class="commentpost" style="display:inline-block;">he definitely has moobs</p><br>
        <p class="commentdate" style="display:inline-block;">April 15, 2015</p>
      </div><br>
      <div class="commentident" style="display:inline-block;vertical-align:top;margin-top:5px;">
        <p style="color:#d4d4d4;margin-right:15px;"><img src="/static/images/comment.png"></p>
      </div>
      <div class="commentpoop" style="display:inline-block;">
        <p class="commentpost" style="display:inline-block;">they jiggle a lot when he runs</p><br>
        <p class="commentdate" style="display:inline-block;">April 16, 2015</p>
      </div>
    </div>
    <div class="commentbox">
      <form method="POST" action="/post/" enctype="multipart/form-data" style="margin:0;">
        <input class="input-block-level commentinput" id="textbox" type="text" name="wallpost" maxlength="1000" placeholder="Write a comment" required>
      </form>
    </div>
  {% endfor %}
</div>

{% endblock %}

{% block extra-js %}
{% endblock %}
