{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block body %}

<br><br><br>

<div class="container">
  <div class="formcontainer">
    <form method="POST" action="/post/" enctype="multipart/form-data" style="margin:0;">
      <textarea class="input-block-level lastinput" id="textbox" type="text" name="wallpost" maxlength="1000" placeholder="Post anonymously to everyone" required></textarea>
      <div class="buttonbox"><p style="margin:0;text-align:right;"><button class="btn btn-default" id="orangebutton" name="submit" type="submit">Post</button></p></div>
    </form>
  </div>
  <br><br>
  {% for w in wallposts %}
    <div class="box">
      <p class="whitetext">{{w.wallpost}}</p>
      <p class="textal">{{w.date}}</p>
    </div><br>
  {% endfor %}
</div>

{% endblock %}

{% block extra-js %}
{% endblock %}
