{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block body %}
<!--inititalizing facebook SDK-->
<script type='text/javascript' src="/static/js/fbDataRetrieval.js"></script>
<br><br>

<!--FB.root-->
<div id="fb-root"></div> 

<br><br>
  <center>
<div class="container">
  <div class="together">
    <div id="profilePicture"></div>
    <br>
      <!--shows like and share buttons-->
      <div
       class="fb-like"
       data-share="true"
       data-width="450"
       data-show-faces="true">
      </div>     
    <br>
    <div class="togetheragain">
    <!--html tags to display retrieved fb info-->
      <div id="profileName"></div>
      <div id="profileLocation"></div>
      <div id="profileLocale"></div>
      <div id="profileBio"></div>
       <div id="profileAge"></div>
      <div id="friendPicture"></div>

       
    </div>
  </div>
  <br><br>
    <form method="POST" action="/submit/{{user.username}}/" enctype="multipart/form-data">
      <textarea class="input-block-level lastinput" type="text" name="wallpost" maxlength="1000" placeholder="Post anonymously on {{user.username}}'s wall" required></textarea>
      <p><button class="btn btn-default input-block-level" name="submit" type="submit">Post</button></p>
    </form>
  <br><br>
  {% for p in posts %}
    <p class="textal">Posted {{p.date}} by {{p.user1.username}}</p>
    <div class="box">
      <p>{{p.wall}}</p>
    </div><br>
  {% endfor %}
  </center>
</div>

<!---
  </body>
</html>
-->
{% endblock %}


{% block extra-js %}
{% endblock %}
